.content {
  background-color: #fff;
  border:solid rgb(231, 231, 231) 1px;
  padding: 2em;
  height: 100%;
}

.price {
  font-weight: bold;
}

.caption {
  display:flex;
  flex-direction: column;
}

.caption p {
  margin: 0;
}
