.productCarousel {
  display: flex;
  text-align: center;
  padding: 1rem;
  border-bottom: solid rgb(228, 228, 228) 8px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.carouselSelectors {

  display:flex;
  flex-direction:row;
  justify-content: center;
  gap: 12px;
}

.carouselSelectors div {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
}

@media only screen and (min-width: 1024px) {

    .productCarousel{
      border-bottom: none;
    }

}

