.content {
    display:flex;
    flex-direction: column;
}

.purchaseInfo{
    margin: 1em 0;
}

.productInfoContainer{
    border-bottom:solid rgb(231, 231, 231) 1px;
}

.price{
    text-align: left;
    margin: 0;
    color:black;
    font-weight: 400;
}

.specialOffer{
    color:red;
    margin: 0;
}

.services{
    color:green;
    margin: 0;
}

.attribute{
    display:flex;
    justify-content: space-between;
    border-top:solid rgb(231, 231, 231) 1px;
}

.informationContainer{
    padding: 2rem;
}

@media only screen and (min-width: 1024px) {
    .content {
      display:grid;
      grid-template-columns: 60% 40%;
    }
    .productInfoContent{
        display:flex;
        flex-direction:column-reverse;
    }
  }
