@import url('http://fonts.cdnfonts.com/css/gill-sans');

.content {
  display: grid;
  background-color: #dddddd;
  color: black;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
}

.content {
  background-color: #fff;
  border:solid rgb(231, 231, 231) 1px;
}

.price {
  font-weight: bold;
}

